<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="HashiCorp Logo" src="../assets/HashiCorp_Icon_Black.png">
</div>
<br><br>

<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h1>{{ this.webpagetotal }}</h1> 
    <button class="btn btn-lg btn-primary" (click)="WebPageCount()">Update Web Page Count</button>
</div>

<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h1>{{ this.webpagehealth }}</h1> 
    <button class="btn btn-lg btn-success" (click)="WebPageHealth()">Refresh App Health</button>
</div>

<div class="container">
  <div style="text-align:center" class="jumbotron">
    <h1>{{ this.crashreport }}</h1> 
    <button class="btn btn-lg btn-danger" (click)="KillService()">Kill a Service</button>
</div>

<div class="container">
  <div style="text-align:center" class="jumbotron">
    <div class="gauges-container">
      <mwl-gauge
        *ngIf="this.consulservicecount.length"
        class="two"
        [max]="10"
        [dialStartAngle]="180"
        [dialEndAngle]="0"
        [value]=this.consulservicecount.length
        [animated]="true"
        [animationDuration]="5">
      </mwl-gauge>
    </div>
    <button class="btn btn-lg btn-default" (click)="WebPageCountActiveServices()">Good Service Count</button>
</div>